{{>/Header}}


<div class="container">
  <h2>게임 목록</h2>

  {{#gameList}}
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">{{gamename}}</a>
  </div>
  {{/gameList}}
</div>



</body>
</html>
