{{>/Header}}

<div class="container">
  <h2>신규 게임 등록</h2>
  <form action="/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label>게임 이름:</label>
      <input type="text" class="form-control" placeholder="게임 이름을 입력하세요" name="name">
    </div>
    <div class="form-group">
      <label>게임 url주소:</label>
      <input type="text" class="form-control" placeholder="게임 주소를 입력하세요" name="url">
    </div>
    <label>
      등록할 이미지를 선택하세요:
    </label>
    <input type="file" name="img">
    <div>
      <button type="submit" class="btn btn-primary">등록</button>
    </div>
  </form>
</div>

</body>

</html>