{{>/Header}}

<div class="container">
    <h2>사용자 채팅 차단</h2>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="usr">차단할 사용자의 아이디를 입력해주세요.</label>
        <input type="text" class="form-control" id="usr" name="username">
      </div>
      <div class="form-group">
        <label for="comment">차단 사유를 입력해주세요.</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">제출</button>
    </form>
  </div>
  

</body>